<div class="container justify-content-center index-width mt-5">
  <div class="jumbotron my-auto">
  	<h3 class="text-center text-primary mb-4">BMR Calculator</h3>
		<h5>
			Calculate your Basal Metabolic Rate (BMR) with this calculator tool.
			<li>Your BMR is the amount of energy you expend each day when at rest.</li>
			<li>Gender, age, height and weight are important for this calculation.</li>
			<li>The BMR calculation is based on revised Harris-Benedict equation.</li>
		</h5>
		<div class="text-center mt-4">
			<%=link_to "Calculate BMR", new_user_path, class: "btn btn-info" %>
		</div>
	</div>
</div>